@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

:root {
  --primary-color:#fefae0;
  --secondary-color:#bc6c25;
  --third-color:#a65831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.offscreen {
    position: absolute;
    left: -10000px;
}

input, 
button {
    font: inherit;
    font-weight: bold;
}

html {
    font-family: 'Montserrat', cursive;
}

body {
    min-height: 100vh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
    margin: auto;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-flow: column nowrap;
    padding: 2rem;
}

section {
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 0.5rem;
    background-color: #fff;
}

.button {
    border-radius: 10px;
    min-width: 48px;
    min-height: 48px;
}

.button:hover {
    cursor: pointer;
}

.newItemEntry {
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
}

.newItemEntry__form {
    display: flex;
    gap: 0.25rem;
    font-size: 1rem;
}

.newItemEntry__input {
    width: calc(100% - (0.25rem + 48px));
    flex-grow: 1;
    border: 2px solid var(--secondary-color);
    color:var(--secondary-color);
    border-radius: 10px;
    padding: 0.5em;
}

.newItemEntry__button {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    padding: 0.75em;
}

.newItemEntry__button:focus {
    color: var(--secondary-color);
}

.newItemEntry__button:hover {
    background-color: var(--third-color);
}

.listContainer {
    font-size: 1rem;
    flex-grow: 1;
    display: flex;
    flex-flow: column;
    gap: 1rem;
}

.listTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.listTitle__button {
    border: none;
    color: var(--primary-color);
    background-color: var(--secondary-color);
    padding: 0.7rem;
}

.listTitle__button:hover {
  background-color:var(--third-color);

}


.listItems {
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    list-style-type: none;
}

.item {
    display: flex;
    align-items: center;
    padding-top: 1em;
    gap: 1em;
}

.item > input[type="checkbox"] {
    text-align: center;
    border:2px solid var(--secondary-color) !important;
    min-width: 1.2rem;
    min-height: 1.2rem;
    cursor: pointer;
    margin-right: -8px;
}

.item > input[type="checkbox"]:checked + label {
    text-decoration: line-through;
}

.item > label {
    flex-grow: 1;
    word-break: break-all;
}

.item > button {
  border: none;
  border:2px solid var(--secondary-color);
  background-color: transparent;
  color: var(--secondary-color);
  min-width: 2.5rem;
  min-height: 2.5rem;
  border-radius: 5px;
  padding:0 1rem;
}

.item > button:hover, 
.item > button:focus {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

@media (min-width: 768px) {
    section {
        padding: 1rem;
    }
    .newItemEntry__form {
        gap: 0.5rem;
    }
}